{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title class="left-align">Soccer App</title>
    
    <link rel="stylesheet" href="../static/k.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <header class="container-fluid flex-header">
        <a href="/" class="link-body-emphasis text-decoration-none">
            <img class="logo" src="../static/images/WPS_Logo (1).png">
        </a>
        
        <h1>Soccer App</h1>
        
        <div>
            <button type="button" class="btn btn-primary px-3" style="width: auto; padding-left: 1rem; padding-right: 1rem;" data-bs-toggle="modal" data-bs-target="#addGameModal1">
                Add Game<!-- Dynamic, data-bs-target connects to modal id -->
            </button>

            <a href="{%url 'dash'%}">
                <button type="button" class="btn btn-primary px-3" style="width: auto; padding-left: 1rem; padding-right: 1rem; margin-left: 10px;">
                    Dashboard
                </button>
            </a>
        
        </div>
    
    </header>
    

    <section> <!-- This is where the modal for the add game form is -->
        <div class="modal fade" id="addGameModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a New Game</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <form action="{%url 'home'%}"  method="post"> <!-- Form action links to Dynamic shit -->
                            {%csrf_token%}
                            <div class="form-group">
                              {{form.as_p}}
                              <input type="submit" value="Submit">
    </section>
    

    <section class="card-container">
        {%for game in games_won%}
        <div class="card">
            <img src="{% static 'images/victoryGreen.jpg' %}" class="card-img-top" alt="Victory">
            <div class="card-body">
                <h4 class="card-title">{{game.vs}}</h4> <!-- Dynamic Shit -->
                <p class="card-text">07/04/2023</p> <!-- Dynamic Shit -->
                <button type="button" class="editButton btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#gameModal{{game.id}}"> <!-- data-bs-target links to modal that pops up. Dynamic Shit -->
                    View More
                </button>
                <button type="button" class="editButton btn btn-secondary">Edit</button>
            </div>
        </div>
        {%endfor%}
        {%for game in games_lost%}
        <div class="card">
            <img src="{% static 'images/lossRed.jpeg' %}" class="card-img-top" alt="Victory">
            <div class="card-body">
                <h4 class="card-title">{{game.vs}}</h4> <!-- Dynamic Shit -->
                <p class="card-text">07/04/2023</p> <!-- Dynamic Shit -->
                <button type="button" class="editButton btn btn-secondary" data-bs-toggle="modal" 
                    data-bs-target="#gameModal{{game.id}}"> <!-- data-bs-target links to modal that pops up. Dynamic Shit -->
                    View More
                </button>
                <button type="button" class="editButton btn btn-secondary">Edit</button>
            </div>
        </div>
        {%endfor%}
    </section>

    <section>
        <!-- Modal That pops up -->
        {%for game in games_won%}
        <div class="modal fade" id="gameModal{{game.id}}" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel1" aria-hidden="true">
            <!-- The id = gameModal1 connects the modal to the sepcific card. Dynamic Shit -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gameModalLabel1">{{game.vs}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Details inside Modal Dynamic Shit -->
                        <p>Date: {{ game.date }}</p>
<p>Game: {{ game.vs }}</p>
<p>Goals: {{ game.goals }}</p>
<p>Assists: {{ game.assists }}</p>
<p>Completed Passes: {{ game.completed_passes }}</p>
<p>Total Passes: {{ game.total_passes }}</p>
<p>Turnovers: {{ game.turnovers }}</p>
<p>Saves: {{ game.saves }}</p>
<p>Clean Sheets: {{ game.clean_sheets }}</p>
<p>Issued Cards: {{ game.issued_card }}</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {%for game in games_lost%}
        <!-- Modal That pops up -->
        <div class="modal fade" id="gameModal{{game.id}}" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel1" aria-hidden="true">
            <!-- The id = gameModal2 connects the modal to the sepcific card. Dynamic Shit-->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gameModalLabel1">{{game.vs}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Details inside Modal - Dynamic Shit -->
                        <p>Date: {{ game.date }}</p>
                        <p>Game: {{ game.vs }}</p>
                        <p>Goals: {{ game.goals }}</p>
                        <p>Assists: {{ game.assists }}</p>
                        <p>Completed Passes: {{ game.completed_passes }}</p>
                        <p>Total Passes: {{ game.total_passes }}</p>
                        <p>Turnovers: {{ game.turnovers }}</p>
                        <p>Saves: {{ game.saves }}</p>
                        <p>Clean Sheets: {{ game.clean_sheets }}</p>
                        <p>Issued Cards: {{ game.issued_card }}</p>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </section>  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="../static/k.js"></script>
</body>
</html>