{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title class="left-align">Soccer App</title>
    
    <link rel="stylesheet" href="{% static 'k.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'modal.css' %}">
</head>
<body>

    <header class="container-fluid flex-header">
        <a href="/" class="link-body-emphasis text-decoration-none">
            <img class="logo" src="{% static 'images/WPS_Logo (1).png' %}">
        </a>
        
        <h1>Soccer App</h1>
        
        <div href="../templates/addGame.html">
            <a href="{%url 'add_game'%}">
                <button type="button" class="btn btn-primary px-3" style="width: auto; padding-left: 1rem; padding-right: 1rem;">
                    Add Game<!-- Dynamic, data-bs-target connects to NEW WEBPAGE -->
                </button>
            </a>

            <a href="{% url 'playerhome' %}">
                <button type="button" class="btn btn-primary px-3" style="width: auto; padding-left: 1rem; padding-right: 1rem; margin-left: 10px;">
                    Player Stats
                </button>
            </a>

            <a href="{% url 'dash' %}">
                <button type="button" class="btn btn-primary px-3" style="width: auto; padding-left: 1rem; padding-right: 1rem; margin-left: 10px;">
                    Dashboard
                </button>
            </a>
        </div>
    
    </header>

    <!-- Modal for Adding a Game -->
    <!-- <section>
        <div class="modal fade" id="addGameModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a New Game</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'add_game' %}" method="post"> 
                            {% csrf_token %}
                            {{ game_form.as_p }} 
                            {{ player_stats_formset.management_form }}
                            {% for form in player_stats_formset %}
                                {{ form.as_p }}
                            {% endfor %}
                            <div class="form-group">
                              <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    

    <!-- Card View for Games -->
    <section class="card-container">
        {% for game in games_won %}
        <div class="card">
            <img src="{% static 'images/victoryGreen.jpg' %}" class="card-img-top" alt="Victory">
            <div class="card-body">
                <h4 class="card-title">{{ game.vs }}</h4>
                <p class="card-text">{{ game.date }}</p>
                <button type="button" class="editButton btn btn-secondary" data-bs-toggle="modal" data-bs-target="#gameModal{{ game.id }}">View More</button>
                <button type="button" class="editButton btn btn-secondary">Edit</button>
            </div>
        </div>
        {% endfor %}
        {% for game in games_lost %}
        <div class="card">
            <img src="{% static 'images/lossRed.jpeg' %}" class="card-img-top" alt="Defeat">
            <div class="card-body">
                <h4 class="card-title">{{ game.vs }}</h4>
                <p class="card-text">{{ game.date }}</p>
                <button type="button" class="editButton btn btn-secondary" data-bs-toggle="modal" data-bs-target="#gameModal{{ game.id }}">View More</button>
                <button type="button" class="editButton btn btn-secondary">Edit</button>
            </div>
        </div>
        {% endfor %}
    </section>

    <!-- Modals for Viewing Game Details -->
    {% for game in games_won %}
    <div class="modal fade" id="gameModal{{ game.id }}" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel{{ game.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameModalLabel{{ game.id }}">{{ game.vs }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Date: {{ game.date }}</p>
                    {% for player_stat in game.playergamestats_set.all %}
                    {{ player_stat.player.name }} - 
                    Goals: {{ player_stat.goals }},
                    Assists: {{ player_stat.assists }},
                    Completed Passes: {{ player_stat.completed_passes }},
                    Total Passes: {{ player_stat.total_passes }},
                    Turnovers: {{ player_stat.turnovers }},
                    Saves: {{ player_stat.saves }},
                    Clean Sheets: {{ player_stat.clean_sheets }},
                    Yellow Cards: {{ player_stat.yellow_cards }},
                    Red Cards: {{ player_stat.red_cards }}
                </p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for game in games_lost %}
    <div class="modal fade" id="gameModal{{ game.id }}" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel{{ game.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameModalLabel{{ game.id }}">{{ game.vs }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Date: {{ game.date }}</p>
                    {% for player_stat in game.playergamestats_set.all %}
                    <p>Date: {{ game.date }}</p>
                    {% for player_stat in game.playergamestats_set.all %}
                    {{ player_stat.player.name }} - 
                    Goals: {{ player_stat.goals }},
                    Assists: {{ player_stat.assists }},
                    Completed Passes: {{ player_stat.completed_passes }},
                    Total Passes: {{ player_stat.total_passes }},
                    Turnovers: {{ player_stat.turnovers }},
                    Saves: {{ player_stat.saves }},
                    Clean Sheets: {{ player_stat.clean_sheets }},
                    Yellow Cards: {{ player_stat.yellow_cards }},
                    Red Cards: {{ player_stat.red_cards }}
                </p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {%endfor%}
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'k.js' %}"></script>
</body>
</html>
