.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

body{
    padding: 0;
    margin: 0;
}

.custom-img-height {
    height: 20vw; 
    min-height: 20vw;
    object-fit: cover; 
}

.player-page-container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
